<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
   <title>not_lose</title>
   <link rel="stylesheet" href="style.css">
 </head>
 <body>
   <div class="skill_index">
    <img src="<%= asset_path "skillindex.jpg" %>"></A>
    <A Href="http://localhost:3000/songs" Target="_blank"><img src="<%= asset_path "song.gif" %>" class="song"></A>
    <A Href="http://localhost:3000/haikus" Target="_blank"><img src="<%= asset_path "haiku.gif" %>" class="haiku"></A>
    <A Href="http://localhost:3000/comichaikus" Target="_blank"><img src="<%= asset_path "comikuhaiku.gif" %>" class="senryu"></A>
   </div>
 </body>
</html>
